DB_HOST=localhost
DB_NAME=u979517700_mystock
DB_USER=root
DB_PASSWORD=
SMTP_HOST=smtp.hostinger.com
SMTP_USER=example@example.com
SMTP_PASSWORD=***************
ENCRYPTION_KEY=**************
ENCRYPTION_IV=***************
SITE_NAME=https://example.com/